<div class="col-md-6">
  <div class="content-div">
    <div class="popup-con">
      <div class="popup-title">
        <div class="title">Spell Checking</div>
        <div class="close-icon" (click)="close()">
          <i class="btn btn-clean btn-sm btn-icon btn-icon-md icon-close popup-close"></i>
        </div>
      </div>
      <div class="popup-section">
        <div class="popup-left">
          <div class="popup-sec1">
            <label>Language</label>
            <select>
              <option value="English">English</option>
              <option value="Tamil">Tamil</option>
              <option value="Malayalam">Malayalam</option>
              <option value="Telugu">Telugu</option>
            </select>
          </div>
          <div class="popup-sec2">
            <p>Language</p>
            <div class="radio-sec">
              <input type="radio" name="da">
              <span>Doing</span>
            </div>
            <div class="radio-sec">
              <input type="radio" name="da">
              <span>Doing</span>
            </div>
            <div class="radio-sec">
              <input type="radio" name="da">
              <span>Doing</span>
            </div>
          </div>
          <div class="popup-sub">
            <button>Add to Dictionary</button>
          </div>
        </div>
        <div class="popup-right">
          <button class="prim-clr">Fix</button>
          <button class="bor-clr">Fix All</button>
          <button>Ignore</button>
          <button>Ignore All</button>
        </div>
      </div>
    </div>
  </div>
</div>
