<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header title-page">-->
<!--      <a class="navbar-brand" href="#">Spell Check</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<div class="container-fluid">-->
<!--  <div class="col-md-6">-->
<!--    <div class="content-div" contenteditable="true">Thank you, Simon. Ladies and gentlemen, thank you for participating in this conference call. Second quarter earnings per share, excluding charges and credits, was $0.35. This represents an increase of $0.10 sequentially and $0.12 when compared to the same quarter last year.-->

<!--      During the quarter, we recorded $0.40 of charges. This primarily relates to Cameron merger and integration charges as well as a financing agreement we entered into with our primary customer in Venezuela. We received an interest-bearing promissory note in exchange of $700 million of receivables. The accounting rules required us to record this note at its estimated fair value on the date of the exchange, which resulted in a charge.-->

<!--      Our second quarter revenue of $7.5 billion increased 8% sequentially, largely driven by the Production Group as a result of strong pressure pumping activity in North America land.-->

<!--      Pretax operating margin increased 175 basis points to 12.7%. Highlights by product group were as follows: Second quarter reservoir characterization revenue of $1.8 billion increased 9% sequentially, primarily due to higher international activities across its product lines beyond the seasonal rebounds in Russia and Caspian and the North Sea region. Margins of 17% were essentially flat.-->

<!--      Drilling Group revenue of $2.1 billion increased 6% sequentially, while margin increased 278 basis points to 14.3%. These increases were driven by strong directional drilling activity in U.S. land combined with the seasonal increases internationally.-->

<!--      Production Group revenue of $2.5 billion increased 14% sequentially, while margin expanded by 382 basis points to 8.9%. These results were driven by strong pressure pumping activity and pricing recovery in North America land.-->

<!--      Cameron Group revenue of $1.3 billion increased 3% sequentially. This increase was largely driven by higher sales in Surface Systems across all areas and increased Valves & Measurement activity in North America. Margins increased 61 basis points to 13.8% as OneSubsea margins exceeded 20% for the fourth straight quarter as a result of strong project execution.-->

<!--      The book-to-bill ratio for our long cycle businesses decreased to 0.8 in Q2.-->

<!--      Now turning to Schlumberger as a whole. The effective tax rate, excluding charges and credits, was 18.9% in the second quarter compared to 15.3% in the previous quarter. This increase was primarily driven by the increased earnings in North America.-->

<!--      The ETR will continue to be very sensitive to the geographic mix of earnings between North America and the rest of the world. We expect the ETR will increase next quarter as North America continues to represent an increasing proportion of our earnings.-->

<!--      In the second quarter, we generated $858 million of cash flow from operations. Working capital consumed approximately $550 million of cash during the quarter, partially reflecting the growth in activity in addition to increased investments in preparation for growth. Working capital also reflected the payment of $90 million in severance during the quarter. We remain very confident in our ability to deliver on our free cash flow target for the year, during &#45;&#45; driven by a very strong performance in the second half of the year.-->

<!--      Our net debt increased $1.2 billion during the quarter to $12.6 billion. We ended the quarter with total cash and investments of $6.2 billion. During the quarter, we spent $398 million to repurchase 5.5 million shares at an average price of $72.34.-->

<!--      We started off the second quarter with a higher rate of share repurchases but reduce this considerably as we progress on the EDC discussions, which will be a 100% cash transaction. Paal will comment further on the EDC transaction.-->

<!--      Other significant liquidity events during the quarter included $500 million on CapEx and investments of approximately $180 million in SPM projects. During the quarter, we also made $697 million of dividend payments. Full year 2017 CapEx, excluding SPM and multiclient investments, is still expected to be approximately $2.2 billion.-->

<!--      And now I will turn the conference call over to Patrick.</div>-->
<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <div class="content-div">-->
<!--      <div class="popup-con">-->
<!--        <div class="popup-title">-->
<!--          <div class="title">Spell Checking</div>-->
<!--          <div class="close-tog"></div>-->
<!--        </div>-->
<!--        <div class="popup-section">-->
<!--          <div class="popup-left">-->
<!--            <div class="popup-sec1">-->
<!--              <label>Language</label>-->
<!--              <select>-->
<!--                <option value="English">English</option>-->
<!--                <option value="Tamil">Tamil</option>-->
<!--                <option value="Malayalam">Malayalam</option>-->
<!--                <option value="Telugu">Telugu</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="popup-sec2">-->
<!--              <p>Language</p>-->
<!--              <div class="radio-sec">-->
<!--                <input type="radio" name="da">-->
<!--                <span>Doing</span>-->
<!--              </div>-->
<!--              <div class="radio-sec">-->
<!--                <input type="radio" name="da">-->
<!--                <span>Doing</span>-->
<!--              </div>-->
<!--              <div class="radio-sec">-->
<!--                <input type="radio" name="da">-->
<!--                <span>Doing</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="popup-sub">-->
<!--              <button>Add to Dictionary</button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="popup-right">-->
<!--            <button class="prim-clr">Fix</button>-->
<!--            <button class="bor-clr">Fix All</button>-->
<!--            <button>Ignore</button>-->
<!--            <button>Ignore All</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-home></app-home>
